:host {
  margin-bottom: 1rem;
}

input {
  font-size: 14px;
  max-width: 600px;
  margin-left: 5px;
}

input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
.dark-theme-input {
  outline-color: #e19f4d;
}
.dark-theme-input:focus {
  box-shadow: 0 1px 0 #e19f4d;
  color: #e19f4d;
}
