* {
  margin-bottom: 1rem;
}

input {
  font-size: 14px;
  max-width: 600px;
  margin-left: 5px;
  outline-color: var(--secondary-color);
}

input:focus {
  box-shadow: 0 1px 0 var(--secondary-color);
  color: var(--secondary-color);
}
