* {
  font-family: Lato;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
h1 {
  text-align: center;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.warning,
.nodata {
  max-width: 600px;
  height: 10rem;
  border: 1px solid var(--secondary-color);
  margin: 0 auto;
}

.warning {
  color: red;
  font-size: 20px;
  text-align: center;
  border: 3px solid red;
}

.toggle-container {
  margin: 2rem;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

.toggle-handle {
  width: 20px;
  height: 20px;
  background-color: var(--background);
  border-radius: 50%;
  margin: 2.5px;
  transition: transform 0.3s;
  position: absolute;
  left: 0;
  border-color: var(--primary-color);
}

.toggle-container.checked .toggle-handle {
  transform: translateX(25px);
}
