<h1>User Credit</h1>
<app-filter (inputChanged)="receiveInputData($event)"></app-filter>
<app-toggle [icon]="icon" (themeChanged)="receiveToggledTheme($event)"></app-toggle>

<div
  class="warning"
  *ngIf="showErrorPage$ | async; else content"
  class="warning"
>
  {{ 'Failed to Load the list' | uppercase }}
</div>
<ng-template #content>
  <spinner *ngIf="spinner$ | async"> </spinner>
  <app-table
    *ngIf="(tableDataSelector$ | async) && data?.length"
    [data]="data"
  ></app-table>
  <div class="nodata" *ngIf="!data?.length && !(spinner$ | async)">
    Data not found
  </div>
</ng-template>
