* {
  font-family: Lato;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #38678f;
  height: 10rem;
}
