:host {
  flex-direction: column;
}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  border: 1px solid var(--secondary-color);
  background: var(--background);
  th {
    height: 54px;
    font-weight: lighter;
    text-align: center;
    background: linear-gradient(
      to bottom right,
      var(--primary-color),
      var(--secondary-color)
    );
    color: white;
    border: 1px solid var(--secondary-color);
    .arrow-top {
      font-size: 10px;
      margin-left: 30px;
    }
    .arrow-bottom {
      font-size: 10px;
    }
    .disabled {
      opacity: 0.5;
    }
  }
  tr {
    color: var(--text-color);
    border-bottom: 1px solid var(--off-white);
  }
  td {
    color: var(--text-color);
    border-right: 1px solid var(--off-white);
    padding: 10px;
  }
}
