<table>
  <tr>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span>{{ header | translate}}</span>
      <span
        class="arrow-top"
        [class.disabled]="header === headers[0] ? !ascUsers : !ascCredits"
        >↑</span
      >
      <span
        class="arrow-bottom"
        [class.disabled]="header === headers[0] ? ascUsers : ascCredits"
        >↓</span
      >
    </th>
  </tr>
  <tr *ngFor="let cellData of displayData">
    <td>{{ cellData.user }}</td>
    <td>{{ cellData.credit }}</td>
  </tr>
</table>
<app-paginator
  [childData]="rawData"
  (paginatedData)="dataPerPage($event)"
></app-paginator>
